# Built binary (`go build` in this module)
/mt

# Trained models written by a training run
/markov.bin
/weights.bin
/markov-g*.bin
/weights-g*.bin

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out
coverage.*
*.coverprofile

# Go workspace file
go.work
go.work.sum
